[submodule "vendor/plugins/once"]
	path = vendor/plugins/once
	url = git://github.com/html/once.git
[submodule "vendor/plugins/actions"]
	path = vendor/plugins/actions
	url = git://github.com/html/actions.git
[submodule "vendor/plugins/rails_simple_crud_actions"]
	path = vendor/plugins/rails_simple_crud_actions
	url = git://github.com/html/rails_simple_crud_actions.git
[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/searchlogic"]
	path = vendor/plugins/searchlogic
	url = git://github.com/binarylogic/searchlogic.git
[submodule "vendor/plugins/acts_as_taggable_on"]
	path = vendor/plugins/acts_as_taggable_on
	url = git://github.com/mbleigh/acts-as-taggable-on.git
[submodule "vendor/plugins/phpbb_auth"]
	path = vendor/plugins/phpbb_auth
	url = git://github.com/mattfawcett/phpbb-auth.git
[submodule "vendor/plugins/belongs_to_anything"]
	path = vendor/plugins/belongs_to_anything
	url = git://github.com/html/belongs_to_anything.git
[submodule "vendor/plugins/hash4hash"]
	path = vendor/plugins/hash4hash
	url = git://github.com/html/hash4hash.git
[submodule "vendor/plugins/comments"]
	path = vendor/plugins/comments
	url = git://github.com/comments.git
