- title 'Питання та відповіді'
.fl.wcenter
  - @items.each do|item|
    .fl
      %b
        = question_for(item)
    .clear
    .fl{ :style => 'padding-left: 20px' }
      = auto_link h item.answer.answer
    .clear
.fr
  = render :partial => 'right'
  .clear
  = render :partial => '/photo'
