.fl{ :style => 'width:490px' }
  - @items.each do |item|
    .fl
      =  question_for item
    .fr
      = link_to 'Відповісти на питання', { :action => :answer, :id => item }, :class => 'link'
      = link_to 'Видалити питання', { :action => :destroy, :id => item }, :class => 'link'
    .clear
= render :partial => 'right'
