:javascript
  //Tooltips init
  function enableTooltipsFor(selector){
    return;
    $(selector).tooltip({
      positionLeft: true,
      track: true, 
      delay: 0, 
      showURL: false, 
      showBody: " - ", 
      fade: 0 
    });
  }

  $(function(){
    enableTooltipsFor('a.tooltip');
  });
- require_jquery
- content_for :head do
  = javascript_include_tag 'jquery/vtip'
  %style{ :type => 'text/css' }
    :sass
      #vtip
        width: auto
        position: absolute
        z-index: 3000
        border: 1px solid #111
        background-color: #eee
        padding: 5px
        opacity: 1
        background-image: none

        h3, div
          margin: 0

      /
        p#vtip
          display: none
          position: absolute
          padding: 10px
          left: 5px
          font-size: 1em
          background-color: white
          border: 1px solid #a6c9e2
          -moz-border-radius: 5px
          -webkit-border-radius: 5px
          z-index: 9999 

          #vtipArrow
            position: absolute
            top: -10px
            left: 5px
