!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title=h yield(:title)
    
    %meta{ :name => "viewport", :content => "initial-scale=1.0, user-scalable=no" }

    %meta{ :name => "keywords", :content => "" }
    %meta{ :name => "description", :content => "" }
    = stylesheet_link_tag 'global', 'dojo'
    = yield(:head) 
  %body{ :topmargin => "0", :bgcolor => "#488EC2" }
    %table{ :cellspacing => "0", :border => "0", :align => "center", :height => "30", :cellpadding => "0", :width => "960" }
      %tr{ :height => "100" }
        %td{ :background => "/images/left.gif", :width => "17" }
          %p.sp
            \&nbsp;
        %td{ :background => "/images/grad.gif", :align => "left", :valign => "middle", :width => "915" }
          %img{ :src => "/images/gerb.jpg", :style => " float:left;margin-left:20px;" }
          %p.joke
            =h yield(:title)
        %td{ :background => "/images/right.gif", :width => "17" }
          %p.sp
            \&nbsp;
      %tr{ :height => "25" }
        %td{ :background => "/images/left.gif", :width => "17" }
          %p.sp
            \&nbsp;
        %td{ :width => "915", :bgcolor => "#D7E5FA", :style => "padding:5px;" }
        %td{ :background => "/images/right.gif", :width => "17" }
          %p.sp
            \&nbsp;
      %tr{ :height => "25" }
        %td{ :background => "/images/left.gif", :width => "17" }
          %p.sp
            \&nbsp;
        %td{ :align => "center", :valign => "top", :width => "915", :bgcolor => "#FFFFFF" }
          %div
            %div#leftmenu.fl{ :style => 'padding:10px;0px;margin:0 0 0 8px' }
              /
                begin menu table
              %table{ :cellspacing => "0", :cellpadding => "0", :width => "181" }
                %tr
                  %td{ :width => "181" }
                    %img.fl{ :src => "/images/menu_1.gif", :height => "34", :width => "181" }
                %tr
                  %td{ :background => "/images/menu_2.gif", :width => "181", :align => "left" }
                    %a.top{ :href => global_url_for("/") }
                      Головна
                    %br
                    %a.top{ :href => global_url_for("/forum") }
                      Форум
                    %br
                    %a.top{ :href => global_url_for("/gallery") }
                      Галерея
                    %br
                    %a.top{ :href => global_url_for("/articles") }
                      Статті
                    %br
                    %a.top{ :href => global_url_for("/links") }
                      Ссилки
                    %br
                    %a.top{ :href => 'http://weather.' + @clean_host }
                      Погода
                    %br
                %tr
                  %td{ :width => "181" }
                    %img{ :src => "/images/menu_3.gif", :height => "34", :width => "181" }
              /
                end memu table
            .fl.soria{ :style => 'padding:10px; 0px;z-index:10;border:1px solid white;width:682px;', :align => 'left' }
              = yield
        %td{ :background => "/images/right.gif", :width => "17" }
          %p.sp
            \&nbsp;
      %tr{ :height => "25" }
        %td{ :background => "/images/left.gif", :width => "17" }
          %p.sp
            \&nbsp;
        %td{ :align => "right", :width => "915", :bgcolor => "#D7E5FA" }
          = file_contents('counter')
          дизайн зроблено Боврашом Дмитром.&nbsp;
        %td{ :background => "/images/right.gif", :width => "17" }
          %p.sp
            \&nbsp;
